nav.navbar.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
			a.navbar-brand(href='/')
				span.glyphicon.glyphicon-fire(aria-hidden='true')
		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/api/friends') API
				li
					a(href='https://github.com/ronnytomasetti/FriendFinder', target='_self') GitHub
