extends layouts/layout

block content
	.container-fluid
		.row.text-center
			br
			h1= title
			h3 You're only a few questions away from finding your BFF!
			br
			form.form-inline
				.form-group
					label.sr-only(for='user-name') Name
					input#user-name.form-control(type='text', placeholder='Name')
				.form-group
					label.sr-only(for='img-url') Profile Image URL
					input#img-url.form-control(type='url', placeholder='Image URL')
				.form-group
					a(href='/survey')
						button.btn.btn-danger.btn-md(type='button')
							span.glyphicon.glyphicon-th-list
							|   TAKE SURVEY
