extends layout

block content
	.container-fluid
		.row.text-center
			br
			h1= title
			h3 You're only a few questions away from finding your BFF!
			br
			a(href='/survey')
				button.btn.btn-danger.btn-md(type='button')
					span.glyphicon.glyphicon-th-list
					|   Take Survey
