doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='author', content='Ronny Tomasetti')
		meta(name='description', content='A compatibility-based friend finder app.')
		meta(name='keywords', content='friend finder, compatibility survey')
		title='Friend Finder'
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
		link(rel='stylesheet', href='/css/style.css')
	body
		nav.navbar.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
					a.navbar-brand(href='/')
						span.glyphicon.glyphicon-fire(aria-hidden='true')
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/api') API
						li
							a(href='https://github.com/ronnytomasetti/FriendFinder', target='_blank') GitHub

		block content
		
		footer
			.container
				.col-xs-4.col-sm-4.col-md-4.col-lg-4
					p.text-muted.text-left UCF Coding Bootcamp 062116
				.col-xs-4.col-sm-4.col-md-4.col-lg-4
					p.text-muted.text-center
						| Made with 
						span.glyphicon.glyphicon-heart(aria-hidden='true', style='color:red;')
						|  by Ronny Tomasetti
				.col-xs-4.col-sm-4.col-md-4.col-lg-4
					p.text-muted.text-right Copyright &copy 2016. All rights reserved.

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
