extends layout

block content
	.container-fluid
		.row.text-center
			h1 SURVEY
			hr
	.container
		.row
			.col-sm-8
				p QUESTION
			.col-sm-4
				.btn-group(data-toggle='buttons')
					label.btn.btn-default
						input#q156(type='radio', name='quality[25]', value='1')
						|  1
					label.btn.btn-default
						input#q157(type='radio', name='quality[25]', value='2')
						|  2
					label.btn.btn-default
						input#q158(type='radio', name='quality[25]', value='3')
						|  3
					label.btn.btn-default
						input#q159(type='radio', name='quality[25]', value='4')
						|  4
					label.btn.btn-default
						input#q160(type='radio', name='quality[25]', value='5')
						|  5
